@import '../../styles/main.scss';

.header {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $white;
  height: 45px;
}

.title {
  flex: 1;
  color: $black;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.about {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  background-image: url('./question.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.menu {
  height: 100%;
  width: 25px;
}
