@import './fonts/fontFaces.scss';
@import './styles/main.scss';

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: $mainFont;
}
